<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="../../css/OM.css">
<script src="../../js/jquery-3.2.0.js">
</script>
<script>

</script>
</head>
<body>
	<div th:each="prodDetails : ${prodList}">
		<div class="alignCenter padding15">
			<div class="floatLeft selectWidth20 alignLeft blueText">
				<div class="floatLeft selectWidth40">
					<div id="Popup" th:onClick="'javascript:openUpdatePage(' + ${prodDetails.id}+ ');'">Update Item</div>
					
				</div>
				<div class="floatLeft">|</div>
				<input type="checkbox" th:id="${prodDetails.id}">
				<div class="floatRight trashBlack" th:onclick="'javascript:confirmDelete(' + ${prodDetails.id} + ');'"></div>
				<div class="clear"></div>
			</div>
			<div class="floatLeft selectWidth15" th:id="id"
				th:text="${prodDetails.id}"></div>
			<div class="floatLeft selectWidth30 alignLeft" th:id="name"
				th:text="${prodDetails.name}"></div>
			<div class="floatLeft selectWidth10" th:id="description"
				th:text="${prodDetails.description}"></div>
			<div class="floatLeft selectWidth10 alignRight" th:id="price"
				th:text="${prodDetails.price}"></div>
			<div class="floatLeft selectWidth10 alignRight" th:id="quantity"
				th:text="${prodDetails.quantity}"></div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="omblueLine"></div>
</body>
</html>